.profile {
    width: 30rem;

    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30rem;
    margin-top: 5rem;
}

.avatar {
    width: 10rem;
    border-radius: 50%;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
}

.tag,
.location {
    color: gray;
}

.stats {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    background-color: #f3f6f9;
    border-top: 1px solid #e4e9f0;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.label {
    font-size: 12px;
    color: gray;
}

.quantity {
    font-size: 18px;
    font-weight: bold;
}